/* * {
    outline:1px solid red;
} */



main {
    /* max-width: 1200px; */
    margin:auto;
    font-family: Inter;
}

.col-lg-100 {
    width:100%; 
}

.col-lg-50 {
    width:50%;
}
.col-lg-60 {
    width:60%;
}

.col-lg-40 {
    width:40%;
}



.awo-home-section {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 40px;
    color:#0D2E56;
    border-radius: 6px;
    max-width: 1200px;
    margin: auto;
}

section > div > p {
    line-height: 26px;
    margin-top: 5px;
}

section:nth-of-type(3){
    margin-top:300px; 
}

.awo-hero > section {
    padding:60px 20px;
}

.awo-hero {
    background-color: rgb(225, 236, 251);
    background: linear-gradient(178.43deg, #094FA4 2.78%, rgba(9, 79, 164, 0) 94.26%);
    background: linear-gradient(178.21deg, #094FA4 2.95%, rgba(9, 79, 164, 0) 110.51%);
    border-radius: 6px;
    position: relative;
    max-width: 1280px;
    margin: auto;
}


.awo-hero-header {
    text-align: center;
    color:#F0F3FD;
;
}

.awo-hero-header h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    margin-top: 10px;
}

.awo-h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 28px;
    margin-bottom: 10px;
}

.awo-hero-modal {
    display: none;
}


.modal-content {
    background-color: white;
    color:#0D2E56;
    border-radius: 6px;
    padding:20px;
    display: none;
    display: flex;
    flex-direction: column;
    position: relative;
    margin:auto;
    width:500px;
    max-width: 80%;
    text-align: center;
}

.modal-content > ul {
    padding-inline-start: 0px;
}

.modal-content > ul > li {
    list-style-type: none;
    margin-block-start: 0px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ededed;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.5s;
}

.modal-content > ul > li > a {
    text-decoration: none;
    color:inherit;
}

.modal-content > ul > li:hover {
    background-color: #0D2E56;
    color: white;
    cursor: pointer;
}




.show-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    width:100%;
    height:100vh;
    left:0;
    z-index: 1;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
}


.awo-promotion-wrapper {
    width:50%;
    display:flex;
    overflow:auto;
    gap:20px;
    justify-content: flex-end;
  }
  
.awo-promotion-card {
    min-width:180px;
  }
.awo-promotion-card img {
    width:180px;
}



.awo-promo-card {
    width:450px;
    border-radius: 6px;
}

/* Delivery section */

#delivery-section {
    background-color: #EAF3FF;
    border-radius: 6px;
    background-image: url('https://res.cloudinary.com/db2okldfm/image/upload/v1673339159/AWO/AWO%20home%20page/UK_map_grey_ujkmqp.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40%;
    margin-top:20px;
    margin-bottom: 20px;
}


.awo-postcode-search {
    padding:10px 0px;
}

.awo-postcode-search > label{
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

.awo-postcode-search > input {
    font-family: inherit;
    font-size: 16px;
    padding:10.4px 10px;
    border:1px solid lightgray;
    border-radius: 4px;
    text-transform: uppercase;
}


.awo-brands-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap:15px;
    align-items: center;
}


.awo-brand {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 50px;
    border:1px solid transparent;
    transition: 0.5s;
}

.awo-brand:hover  {
    border: 1px solid #0C57B1;
    background:#f5f5f5;
}

.awo-promotion-card:hover {
    opacity: 0.7;
}

.awo-brands-img {
    min-width: 90px;
    aspect-ratio: 3/2;
    object-fit: contain;
    max-width: 100%;
}

/* Trustpilot section */

.awo-trustpilot {
    background-color: #094FA4;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 50px;
}

.awo-trustpilot > div > .awo-home-button {
    margin-bottom: 10px;
}




.awo-home-cat-container {
    display: flex;
    width: 100%;
    gap:20px;
    overflow: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:20px 0px 10px 0px;
}

.awo-hero-cat-button {
    min-width:120px;
    min-height: 120px;
    font-size: 14px;
    text-align: center;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column; 
    position: relative;
    background:#094FA4;
    color:#CBEAFF;
    color:white;
    font-family: Inter;
    font-weight: 500;
}

.awo-hero-cat-button:hover {
    cursor: pointer;
}

.awo-hero-cat-button img {
    margin-top:-30px;
    width:120px;
    aspect-ratio: 3/2;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}
.awo-home-button, .close-modal {
    border-radius: 4px;
    border:1px solid transparent;
    background-color:#0D2E56;
    color:#f5f5f5;
    font-family: Inherit;
    padding:12px 22px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    transition: 0.5s;
}


.awo-home-button:hover, .close-modal:hover {
    color:#0D2E56;
    background-color:#f5f5f5;
}

@media (max-width:1000px){
    .col-sm-100 {
        width:100%;
    }
    .awo-brands-grid {
        display: flex;
        overflow:auto;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap:20px;
        overflow:auto;
    }
    .awo-promotion-wrapper {
        width:100%;
        justify-content: flex-start;
    }
    .awo-hero-cat-button {
        min-width:130px;
        min-height:130px;
        font-size: 14px;
    }
    .awo-hero-cat-button img {
        width:120px;
    }
    .awo-promotion-wrapper {
        margin-top: 30px;
    }
    .awo-brands-grid {
        margin-top:40px;
    }
    .awo-hero > section {
        padding:30px 20px;
    }
    .awo-home-section {
        padding:80px 20px;
    }
    .slider-wrapper {
        margin:inherit;
    }
    .awo-reviews-slider {
        width: 100%;
        margin:auto;
    }
}


/* Slider styles */

.awo-slider-toggle {
    border:1px solid #ededed;
    border-radius:50px;
    height:30px;
    width:30px;
    position:absolute;
    background-color: #0C57B1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.awo-slider-toggle:hover {
    background-color: white;
    color:#0C57B1;
}

#next {
    left:100%;
    top:50%;
    transform: translate(-50%, -50%);
}

#prev {
    left:0%;
    top:50%;
    transform: translate(-50%, -50%);

}

button:hover {
    cursor:pointer;
}

.slider-wrapper{
    max-width: 100%;
    margin:auto;
}

.awo-reviews-track {
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
}
  
.awo-reviews-slider {
    width:550px;
    max-width:100%;
    height:300px;
    margin:auto;
    position: relative;
    max-width: 100%;
    background:#f5f5f5;
    border-radius:10px;
    border:none;
    background-color: #0C57B1;
}

  .current {
    display: block;
  }

  .awo-review-slide {
    height:100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(100%);
    color:white;
    text-align: center;
    padding:0 40px;
    /* transform: translateY(10%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .awo-review-slide h3 {
      font-weight: 500;
      color: #EAF3FF;
  }

  .awo-review-slide p:nth-of-type(2) {
      color:#A9D0FF;
  }

  .awo-review-slide p {
      margin:10px
  }

  
  .awo-review-slide.current {
    opacity: 1;
    transform: translateX(0%);
    /* transform: translateY(10%); */
  }
